<html>
  <head>
      <!-- <link rel="stylesheet" type="text/css" href="{{csspath}}" /> -->
      <style>
       body {
	   background: #2a2a2a;
	   color: #F7F8F8;
       }

       a {
	   color: #727fff;
       }
       
       a:visited {
	   color: #f0f
       }
      </style>
  </head>
  <body>
      <small><p>Jisho Chibi GUI for jisho API.</p>
	  Visit <a href="https://jisho.org/" >jisho page</a>
	  for full dictionary use. <br \>
	  For more info on this app visit <a href="https://github.com/atreyagaurav/jisho-chibi">github</a>.</small>
  </body>
</html>
